@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

/* .dropdown-menu{
      hover
  } */

#SectOneindex {
  background-image: url("../Assets/557-5571948_honey-bee-clip-art-honey-drip-transparent-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  max-width: 1100px;
  z-index: -1;
}
/* 
#landingSection {
  background-size: cover;
  background-attachment: fixed;
  /* background-color: whitesmoke; */
/* }

#indexBKR {
} */ */
