@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

/* .dropdown-menu{
      hover
  } */

.body-index {
  background-size: cover;
  background-attachment: fixed;
  background-color: whitesmoke;
}

#landingSection {
  background-image: url(../Assets/sharon-mccutcheon-BucjGtyv58A-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  /* background-color: whitesmoke; */
}
