@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

/* .dropdown-menu{
      hover
  } */

.body-index {
  background-image: url(../Assets/HoneydrippingFromTop.png);
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
}
