@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

/* .dropdown-menu{
      hover
  } */

#SectOneindex {
  background-image: url("../Assets/557-5571948_honey-bee-clip-art-honey-drip-transparent-background.png");
  /* Set a specific height */
  max-height: 950px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutMe {
  background-color: whitesmoke !important;
  width: 50% !important;
  margin: 60% 90px 90px 90px !important;
  padding: 30px;
}
